<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midterm A</title>
    
</head>
<body>
    <h2>Job Roles in Data Science / Big Data Industry</h2>

    <ul>
        <li>{{a | title}} <br>&nbsp Character Count: {{a | length}} </li>
        <li>{{b | title}} <br>&nbsp Character Count: {{b | length}}</li>
        <li>{{c | title}} <br>&nbsp Character Count: {{c | length}}</li>
        <li>{{d | title}} <br>&nbsp Character Count: {{d | length}}</li>
        <li>{{e | title}} <br>&nbsp Character Count: {{e | length}}</li>
        <li>{{f | title}} <br>&nbsp Character Count: {{f | length}}</li>
        <li>{{g | title}} <br>&nbsp Character Count: {{g | length}}</li>
        <li>{{h | title}} <br>&nbsp Character Count: {{h | length}}</li>
    </ul>
</body>
</html>